$gameGridRow1Height: 35%;
$gameGridRow2Height: 27.5%;
$gameGridRow3Height: 22.5%;
$gameGridRow4Height: 15%;
$gameGridRow1ColumnWidth: 24%; //6
$gameGridRow2ColumnWidth: 19%;
$gameGridRow3ColumnWidth: 16%;
$gameGridRow4ColumnWidth: 14%;
$gameGridColumnsWidth: 20%;
$textColorScore: #F00;
$textColorTime: #FF0;



* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none; //make text unhighlightable
  font-family: 'Karla', sans-serif;
  color: $textColorScore
}



body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  #intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        align-items: center;
        width: 80%;
      }
    }


  }


  #game {
    cursor: url('../images/hammerUp.png'),pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    display: none;
    .scoreBoard {
      width: 100vw;
      height: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      #playerScore {

        color: $textColorScore;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 3px 3px 10px #111;
        font-size: 7vh;
      }
      #countDown {
        line-height: 0.6;
        color: $textColorTime;
        text-shadow: 3px 3px 10px #111;
        font-family: 'Permanent Marker', cursive;
        font-size: 6vh;
      }

    }

    .grid {
      height: 85vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      .row4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: $gameGridRow4Height;
        width: 100%;

      }
      .row3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: $gameGridRow3Height;
        width: 100%;

      }
      .row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: $gameGridRow2Height;
        width: 100%;

      }
      .row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: $gameGridRow1Height;
        width: 100%;

      }
      .moleHole {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  #game:active {
    cursor: url('../images/hammerDown.png'),pointer;
  }


  #results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: none;
    #finalScore {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      color: $textColorScore;
      font-family: 'Permanent Marker', cursive;
      text-shadow: 3px 3px 10px #111;
      font-size: 20vh;
    }

  }
}
